###############################################################################
########################## PINGONE FOR GATEWAY AUTH ###########################
###############################################################################
GATEWAY_PINGONE_CLIENT_ID=''
GATEWAY_PINGONE_CLIENT_SECRET=''
GATEWAY_PINGONE_AUDIENCE='agentcore_gateway'
GATEWAY_PINGONE_SCOPE='mcp:invoke'
GATEWAY_PINGONE_DISCOVERY_URL='https://auth.pingone.YOUR_REGION/YOUR_ENV/as/.well-known/openid-configuration'
GATEWAY_PINGONE_TOKEN_URL='https://auth.pingone.YOUR_REGION/YOUR_ENV/as/token'

###############################################################################
########################## PINGONE FOR INBOUND AUTH ###########################
###############################################################################
INBOUND_PINGONE_CLIENT_ID=''
INBOUND_PINGONE_CLIENT_SECRET=''
INBOUND_PINGONE_AUDIENCE='agentcore_runtime'
INBOUND_PINGONE_SCOPE='openid agent:invoke'
INBOUND_PINGONE_TOKEN_URL='https://auth.pingone.YOUR_REGION/YOUR_ENV/as/token'
INBOUND_PINGONE_DEVICE_AUTH_URL='https://auth.pingone.YOUR_REGION/YOUR_ENV/as/device_authorization'
INBOUND_PINGONE_DISCOVERY_URL='https://auth.pingone.YOUR_REGION/YOUR_ENV/as/.well-known/openid-configuration'
